
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 50;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.87);
    overflow-x: hidden;
    transition: 0.4s;
    padding-top: 10px;
	white-space: nowrap
}

.sidenav h1 {
    padding: 6px 6px 6px 12px;
    text-decoration: none;
    font-size: 28px;
    color: #f1f1f1;
    display: block;
}

.sidenav h2 {
    padding: 6px 6px 0px 12px;
    text-decoration: none;
    font-size: 24px;
    color: #f1f1f1;
    display: block;
}


.sidenav a {
    font-family: "Lato", sans-serif;
    padding: 6px 6px 6px 24px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenavbutton{
	text-align:center;
	color:#e1e1e1;
	background-color: #000;
	cursor:pointer;
	position:fixed;
	z-index:50;
	font-size:1em;
	top:0;
	left:0;
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}