*.wmv
*.avi
*.mpeg
*.user
*.pch
*.ncb
*.old
*.dep
*.idb
*.pdb
*.ilk
*.res
*.cache
*.orig
*.lz4
*.Resources.resources
*.Cache
*.manifest
*.exe
*.class
*.obj
**/obj/*
**/bin/*
BuildLog.htm
workspace/.*
workspace/Geneva/target/*
workspace/Geneva/bin
workspace/Geneva/logs
workspace/Geneva/.settings

