*.wmv
*.avi
*.mpeg
*.user
*.pch
*.ncb
*.old
*.dep
*.idb
*.pdb
*.ilk
*.res
*.cache
*.orig
*.lz4
*.Resources.resources
*.Cache
*.manifest
*.exe
*.class
*.obj
*.prefs
*.settings
**/.metadata/*
**/.recommenders/*
**/obj/*
**/bin/*
**/target/*
**/logs/*
BuildLog.htm


/target/
