
.button-key
{
	font-size:1.5em;
	font-weight:bold;
	width:64px;
	height:64px;
}
.button-character
{
	font-size:1em;
	font-weight:bold;
	width:64px;
	height:64px;
}
.Q-Space
{
	width:2em;
	height:2em;
}
.A-Space
{
	width:0.5em;
	height:2em;
}
.minus-Space
{
	width:280px;
	height:64px;
}

.button-tab
{
	font-size:1em;
	font-weight:bold;
	width:96px;
	height:64px;
	background-color:#ccc;
}
.button-caps
{
	font-size:1em;
	font-weight:bold;
	width:116px;
	height:64px;
	background-color:#ccc;
}

.button-spacebar
{
	font-size:2em;
	font-weight:bold;
	width:416px;
	height:64px;
}

.button-backspace
{
	font-size:1em;
	font-weight:bold;
	width:96px;
	height:64px;
	background-color:#fca;
}
.button-return
{
	font-size:1em;
	font-weight:bold;
	width:116px;
	height:64px;
}
.button-left-shift
{
	font-size:1em;
	font-weight:bold;
	width:152px;
	height:64px;
}
.button-right-shift
{
	font-size:1em;
	font-weight:bold;
	width:152px;
	height:64px;
}

.button-shift
{
	background-color:#bbb;
}

.button-shift-down
{
	background-color:#ddb;
}



