button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 4px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 16px;
    font-weight: bold;
    transition: 0.5s;
}

button.accordion.active, button.accordion:hover {
    background-color: #bbe;
}

button.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2212";
}

div.accordion-content {
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-width: 1px;
	border-style: solid;
	border-color: #888;
    padding: 0 4px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

div.accordion-content-open {
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-width: 1px;
	border-style: solid;
	border-color: #888;
    padding: 0 4px;
    background-color: white;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}
