a.MoreLink
{
	color: buttontext;
	text-align: center;
	text-decoration: none;
	padding: 2px 8px;
	margin: 0;
background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.16, rgb(207,207,207)),
    color-stop(0.79, rgb(252,252,252))
);
background-image: -moz-linear-gradient(
    center bottom,
    rgb(207,207,207) 16%,
    rgb(252,252,252) 79%
);
border:1px solid #888;}

