/* Add a black background color to the top navigation */
.verticalmenu {
    background-color: #fff;
    overflow: hidden;
    display: block;
}

/* Style the links inside the navigation bar */
.verticalmenu a {
    display: block;
    color: #000;
    text-align: left;
    padding: 8px 8px;
    text-decoration: none;
    font-size: 16px;
	font-family: Trebuchet MS, Lucida Sans Unicode, Arial, sans-serif;
}

/* Change the color of links on hover */
.verticalmenu a:hover {
    background-color: #ddd;
	transition: background-color 500ms;
}

/* Add a color to the active/current link */
.verticalmenu a.active {
    background-color: #4CAF50;
    color: white;
}