/* 
	General styles for this example page */
html {
	margin:0px;
	padding:0px;
	border: 0px;
	
}

body {
	font-family: Trebuchet MS, Lucida Sans Unicode, Arial, sans-serif;
	font-size: 16px;
	background-color: #FFF;
	height: 100%;
}

input {
	font-size: 16px;
}

button {
	font-size: 16px;
}

select {
	font-size: 16px;
}

title {
	font-size: 14px;
}

.heading
{
	z-index:20;
	position:fixed;
	padding: 0px;
	height:80px;
	background-color:#2196f3;
	top:0px;
	left:0px;
	width:100%;
	margin:0 auto;
	box-shadow: 0px 10px 10px #bebebe;
}

.heading-banner
{
	display: flex;
	width:100p%;
	height:80px;
	padding: 0px;
	margin: 0px;
	border: 0px;
}

.heading-banner-left
{
	width: 80px;
}


.heading-banner-center
{
	left: 50px;
	width: 80%;
	margin-left: 80px;
	text-align:center;
	color:#fff;
	font-size:30px;
	font-weight:light;
	margin:20px;
}

.heading-cash
{
	background-color:#71b6f3;
	padding-top:16px;
	color:#fff;
	width: 140px;
	font-size:20px;
	font-weight:normal;
	margin-top:12px;
	margin-bottom:12px;
	margin-right: 4px;
	text-align: center;
}

.heading-banner-right
{
	color:#fff;
	font-size:24x;
	font-weight:normal;
	margin:16px;
	text-align: center;
}

.heading-logout
{
	color:#008;
	text-decoration:none;
}
.heading-logout:hover
{
	text-decoration:underline;
}

.heading-height
{
	height:80px;
}

.input-required:focus 
{ 
	box-shadow: 0 0 4px #f00;
}

.input-required 
{
	font-size: 28px;
	margin-bottom: 0.5em;
	border-width: 1px;
	border-color: #f88;
	border-style: solid;
	padding: 10px;
	width:380px;
}

.submit-green
{
	font-size: 28px;
	margin-bottom: 0.5em;
	background-color: #3f3;
	padding: 10px;
	width:400px;
}

.submit-green-full
{
	font-size: 28px;
	margin-bottom: 0.5em;
	background-color: #6e6;
	width:100%;
	padding: 10px;
}

.span-input
{
	font-size: 28px;
}

.input-checkbox
{
	font-size: 28px;
	margin-bottom: 0.5em;
	width:28px;
	height:28px;
	margin: 0.5em;
}

.login-main-div
{
	display: flex;
	position:fixed;
	top: 250px;
	left: 50%;
	width:440px;
	margin-left:-220px;
	box-shadow: 0px 0px 8px #bebebe;
	border-style: solid;
	border-color: #bbb;
}

.login-main-inside-div
{
	padding: 20px;
	display: block;
	
}

.home-main-div
{
	position:fixed;
	top: 200px;
	left: 50%;
	width:1000px;
	margin-left:-500px;
}

.menu-4-div
{
	position:fixed;
	top: 200px;
	left: 50%;
	width:1000px;
	margin-left:-500px;
}

.big-menu-button
{
	font-size:24px;
	color:white;
	background-color:#2196f3;
	width:230px;
	margin:16px;
	height:160px;
	text-decoration:none;
}	

.big-menu-button:hover
{
	box-shadow: 0px 0px 8px #aeaeae;
}	

.menu-bar-container
{
	display: block;
	margin-top:32px;
	position: relative;
	left: 50%;
	width:800px;
	margin-left:-320px;
	height:120px;
}	


.menu-bar
{
	display: inline;
}	

.account-country-select
{
	font-size: 28px;
	margin-bottom: 0px;
	padding: 10px;
	width:580px;
}	

.menu-player-button
{
	margin-right:20px;
	float: left;
	width:220px;
	font-size:24px;
	color:white;
	background-color:#2196f3;
	height:120px;
}	
.menu-player-button:hover
{
	box-shadow: 0px 0px 8px #aeaeae;
}	



.account-main-div
{
	display:block;
	position:relative;
	top: 20px;
	left: 50%;
	width:1200px;
	margin-left:-600px;
}

.account-left-div
{
	left:0px;
	width:600px;
}

.account-right-div
{
	left:600px;
	width:600px;
	padding-left:40px;
}

.account-full-div
{
	display:flex;
	left:0px;
	width:1200px;
	height:86px;
}

.input-account-required:focus 
{ 
	box-shadow: 0 0 4px #f00;
}
.input-account-required 
{
	font-size: 28px;
	margin-bottom: 0px;
	border-width: 1px;
	border-color: #f88;
	border-style: solid;
	padding: 10px;
	width:560px;
}

.input-account-optional:focus 
{ 
	box-shadow: 0 0 4px #f00;
}
.input-account-optional
{	font-size: 28px;
	margin-bottom: 0px;
	border-width: 1px;
	border-color: #888;
	border-style: solid;
	padding: 10px;
	width:560px;
}

.input-account-full-required:focus 
{ 
	box-shadow: 0 0 4px #f00;
}

.input-account-full-required
{
	font-size: 28px;
	margin-bottom: 0px;
	border-width: 1px;
	border-color: #f88;
	border-style: solid;
	padding: 10px;
	width:1180px;
}

.input-account-full-optional:focus 
{ 
	box-shadow: 0 0 4px #222;
}

.input-account-full-optional 
{	font-size: 28px;
	margin-bottom: 0px;
	border-width: 1px;
	border-color: #888;
	border-style: solid;
	padding: 10px;
	width:1180px;
}

.comment-required
{
	color:#800;
	font-size:16px;
	padding-left:4px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 4px;
	margin-left: 4px;
}

.comment-optional
{
	color:#444;
	font-size:16px;
	padding-left:4px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 4px;
	margin-left: 4px;
}

.big-info
{
	font-size:26px;
}


.playerInfo-full-div
{
	display:flex;
	left:0px;
	width:1200px;
	height:70px;
}

.playerInfo-row-div
{
	left:0px;
	width:1200px;
}

.playerInfo-div
{
	font-size: 28px;
	height: 32px;
	border-width: 0 0 1px;
	border-color: #444;
	border-style: solid;
	padding: 2px;
	width:100%;
}

.playerInfo-full-line-div
{
	font-size: 28px;
	height: 32px;
	border-width: 0 0 1px;
	border-color: #444;
	border-style: solid;
	padding: 2px;
	width:1200px;
}

.balance-cashable-cash-div
{
	left:0px;
	width:300px;
}

.balance-noncashable-cash-div
{
	left:300px;
	width:300px;
	padding-left:40px;
}
.balance-cashable-points-div
{
	left:600px;
	width:300px;
	padding-left:40px;
}

.balance-noncashable-points-div
{
	left:900px;
	width:300px;
	padding-left:40px;
}

.input-playerInfo-full
{
	font-size: 28px;
	border-width: 0 0 1px;
	border-color: #444;
	border-style: solid;
	padding: 2px;
	width:1180px;
}

.lookup-result-div
{
	display:block;
	position:relative;
	top: 20px;
	left: 50%;
	width:1180px;
	margin-left:-600px;
	font-size: 24px;
	border-style: solid;
	padding: 4px;
	border-size: 1px;
}

.lookup-result-fail-div
{
	display:block;
	position:relative;
	
	margin-top:20px;
	padding: 20px;
	left: 50%;
	width:1160px;
	margin-left:-600px;
	text-align: center;
	background-color:#faa;
	font-size: 28px;
}

.deposit-main-div
{
	display:block;
	position:relative;
	top: 60px;
	left: 50%;
	width:1200px;
	margin-left:-600px;
}

.deposit-prompt-div
{
	font-size: 28px;
	text-align: right;
	left:0px;
	width:900px;
	padding:10px;
}

.deposit-row
{
	background-color:#1f1;
}

.withdraw-row
{
	background-color:#fbb;
}

.void-row
{
	background-color:#fbb;
}

.deposit-transaction-div
{
	display:block;
	position:relative;
	top:100px;
	left: 50%;
	width:1180px;
	margin-left:-600px;
	font-size: 24px;
	border-style: solid;
	padding: 4px;
	border-size: 1px;
	border-color: gray;
}


.deposit-amount-div
{
	left:900px;
	width:300px;
	padding-left:40px;
}

.deposit-required-input:focus 
{ 
	box-shadow: 0 0 4px #f00;
}
.deposit-amount-input
{
	font-size: 28px;
	margin-bottom: 0px;
	border-width: 1px;
	border-color: #f88;
	border-style: solid;
	padding: 10px;
	width:260px;
}
.deposit-submit-input
{
	font-size: 28px;
	background-color: #6e6;
	width:100%;
	height:80px;
}
.menu-back-player-button
{
	width:100%;
	font-size:28px;
	color:white;
	background-color:#2196f3;
	height:80px;
	margin-top:20px;
	text-decoration:none;
}	
.menu-back-player-button:hover
{
	box-shadow: 0px 0px 8px #aeaeae;
}	

.pin-main-div
{
	display:block;
	position:relative;
	top: 20px;
	left: 50%;
	width:1200px;
	border: 1px solid;
	margin-left:-600px;
	padding:20px;
}


.pin-name
{
	border-width:0px;
	width:1150px;
	text-align:center;
	background-color:#11164f;
	color: white;
	padding:20px;
}


.pin-submit-div
{
	margin-top:20px;
	width:1200px;
}

.pin-submit
{
	left:100px;
	margin-left:20px;
	width:1120px;
	font-size: 28px;
	background-color: #3f3;
	padding: 10px;
	height:80px;
}
.pin-submit:hover
{
	box-shadow: 0px 0px 8px #aeaeae;
}	

.menu-back-player-button
{
	width:100%;
	font-size:28px;
	color:white;
	background-color:#2196f3;
	height:80px;
	margin-top:20px;
	text-decoration:none;
}	
.menu-back-player-button:hover
{
	box-shadow: 0px 0px 8px #aeaeae;
}	

.pin-lookup-main-div
{
	display:block;
	position:relative;
	top: 120px;
	left: 50%;
	width:300px;
	border: 1px solid;
	margin-left:-150px;
	padding:20px;
}
	
.pin-lookup-input
{
	font-size: 28px;
	margin-bottom: 0px;
	border-width: 1px;
	border-color: #f88;
	border-style: solid;
	padding: 10px;
	width:280px;
}

.pin-lookup-invalid
{
	margin-top:20px;
	padding: 20px;
	background-color:#faa;
	font-size: 28px;
	margin-top:30px;
}

.pin-lookup-submit
{
	margin-top:30px;
	width:100%;
	font-size: 28px;
	background-color: #3f3;
	padding: 10px;
	height:80px;
}
.pin-lookup-submit:hover
{
	box-shadow: 0px 0px 8px #aeaeae;
}	

.transaction-void-button {
	font-size: 30px;
	float:right;
//	background-color: #fcc;
}

.transaction-main-div
{
	display:block;
	position:relative;
	top: 10px;
	left: 50%;
	width:1200px;
	margin-left:-600px;
}

.transaction-back-button-div
{
	left:110px;
	top:800px;
	width:1200px;
	height:86px;
}

.transaction-div
{
	display:block;
	position:relative;
	top:0px;
	left: 50%;
	width:1200px;
	margin-left:-600px;
	font-size: 30px;
	padding: 4px;
	border-size: 1px;
	border-style: solid;
	border-color: gray;
}	
.cashier-div
{
	display:block;
	position:relative;
	font-size: 28px;
	top: 20px;
	left: 50%;
	width:1200px;
	margin-left:-600px;
	border-size: 1px;
	border-style: solid;
	border-color: gray;
	padding:20px;
	
}
.cashier-button
{
	font-size: 28px;
	margin-bottom: 0.5em;
	background-color: #6e6;
	width:100%;
	padding: 10px;
}	
.cashier-check-button
{
	font-size: 28px;
	margin-bottom: 0.5em;
	background-color: #6e6;
	width:1000px
	padding: 10px;
}	
.cashier-input:focus 
{ 
	box-shadow: 0 0 4px #f00;
}
.cashier-input
{
	font-size: 28px;
	margin-bottom: 0px;
	border-width: 1px;
	border-color: #f88;
	border-style: solid;
	padding-top:4px;
	padding-bottom:4px;
	padding-left:4px;
	width:100%;
}
.logout-div
{
	display: flex;
	position:fixed;
	top: 250px;
	left: 50%;
	width:440px;
	font-size: 28px;
	margin-left:-220px;
	box-shadow: 0px 0px 8px #bebebe;
	border-style: solid;
	border-color: #bbb;
}
.logout-button
{
	font-size: 28px;
	margin: 0.5em;
	background-color: #3f3;
	padding: 10px;
	width:400px;
}

h1
{
	font-size:36px;
	margin-top: 20px;
	margin-bottom: 4px;
	margin-left: 4px;
	padding:4px;
}


p {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 4px;
	margin-left: 4px;
}

