@default.cnf
Environment.Vault.unsecureVaultFile=.\resources\UnsecureVault.cnf
System.test=true

HttpServer.serverCertificate.keyStorePath=.\testcerts\server.jks
HttpServer.clientCertificate.keyStorePath=.\testcerts\client.jks

Application.Database.ConnectorAndMigrationConfiguration.cogas=
{ 
	"user":"test"
	,"passwordKey":"SqlServer.password.cogas"
	,"connectorConfiguration":
	{
		"host":"localhost"
		,"database":"cogas"
		,"poolSize":8
	}
}

%local.cnf

