KeyStore.serverCertificate.password=password1
KeyStore.clientCertificate.password=password1
KeyManager.password=password1

SqlServer.password.gas=password#1
SqlServer.password.lgs2=password#1
SqlServer.password.site=password#1
