/* Add a black background color to the top navigation */
.panel {
    background-color: #fff;
    display: block;
	border-width: 1px;
	border: 1px;
	border-style: solid;
	border-color: #333;
	padding:0;
	margin:0;
}

/* Style the links inside the navigation bar */
.panel-heading {
    background-color: #333;
	padding:0.5em;
	color: #fff;
	height: 1.2em;
	width:auto;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
	font-weight: bold;
	font-family: Trebuchet MS, Lucida Sans Unicode, Arial, sans-serif;
}

/* Change the color of links on hover */
.panel-content  {
    background-color: #fff;
	padding:4px;
}

